.TextoVermelho {
    color: #cf6868;
}

.TextoVerde {
    color: #7ab37d;
}

.TextoCinza {
    color: #9ba4a5;
}

.cabecalho {
    background-color: #d4dbe7;
    border-radius: 2px;
}

.customHeader {
    height: 70px; /* Altura desejada para o cabeçalho da coluna */
}

.NotaRosa {
    background-color: #ff8c8c;
}

.NotaLaranja {
    background-color: #ffb45d;
}

.NotaAmarela {
    background-color: #fff065;
}

.NotaVerde {
    background-color: #5cdaac;
}

.CelulaVermelha {
    background-color: #f8bbae;
}

.quadradoTooltip {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 6px;
    vertical-align: middle;
}

.colunaBranca {
    color: transparent;
    text-shadow: none;
}
