.FileDownloaderContainer{
    background-color: #F0F4F6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
}

.FileDownloaderTitle{
    width: 720px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 130%;
    margin-bottom: 25px;
}

.FileDownloaderContainerButtonField{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.FileDownloaderInput{
    width: 300px;
    height: 45px;
    padding: 10px;
}
.FileDownloaderContainerButton{
    width: 200px;
    height: 45px;
    margin-left: 15px;
}

.ButtonDownload{
    background-color: #145C56;
    color: #FFFFFF;
    border-radius: 30px;
    border: 1px solid #FFFFFF;
    width: 200px;
    height: 45px;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    margin-left: 5px;
}

.ButtonDownload:hover {opacity: 0.6}

.iconButton{
    margin-right: 10px;
}

/* SMALL */
@media screen and (max-width: 649px) {
    .FileDownloaderContainer{
        height: 100%;
        padding: 45px;
    }
    .FileDownloaderTitle{
        font-size: 32px;
        line-height: 110%;
        text-align: left;
        width:300px;
    }
    .FileDownloaderContainerButtonField{
        flex-direction: column;
        align-items: center;
    }
    .ButtonDownload{
        margin-top: 20px;
    }
}

/* MEDIUM */
@media screen and (min-width: 650px) and (max-width: 1023px) {
    .FileDownloaderContainer{
        height: 100%;
        padding: 45px;
    }
    .FileDownloaderTitle{
        font-size: 32px;
        line-height: 110%;
        width:600px;
    }
}


