.EdicaoAutorizacoesContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 60vh;
    background-color: white;
    border-radius: 15px;
    padding: 30px 40px;
}

.SelectContainer {
    display: flex;
    gap: 40px;
}
