
.IconLeft{
    padding-left: 8px;
}

.IconRight{
    padding-right: 8px;
}

.ButtonLightIconContainer{
    border: 1px solid rgba(96, 110, 120, 0.50);
    background: none;
    color: #1F1F1F;
    border-radius: 100px;
    padding: 0px 23px;
    font-size: 15px;
    font-family: 'inter';
    font-weight: 500;
    line-height: 100%;
    box-sizing: border-box;
    width: fit-content;
    height: 64px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.ButtonLightIconContainer:hover{
    border: 1px solid rgba(31, 31, 31, 1);
    background: none;
}
.ButtonLightDisabled {
    border: 1px solid rgba(96, 110, 120, 0.50);
    background: none;
    color: rgba(96, 110, 120, 0.50);
    border-radius: 100px;
    padding: 0px 23px;
    font-size: 15px;
    font-family: 'inter';
    font-weight: 500;
    line-height: 100%;
    box-sizing: border-box;
    width: fit-content;
    height: 64px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}