.cabecalho {
    background-color: #96d8bf;
    border-radius: 2px;
}

.customHeader {
    height: 70px;
}

.tabelaContainer {
    max-height: 600px;
    overflow-y: auto;
}

.paginacao {
    background-color: #fff;
    z-index: 1;
    bottom: 0;
    position: sticky;
}

.selectorBox {
    margin-bottom: 2px;
    border: 1.5px solid #95b5b3;
    border-radius: 8px;
    width: 200px;
    text-align: center;
    padding: 10px;
    transition: border-color 0.3s;
    font-size: 13px;
    position: relative;
}

.selectorHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px;
    cursor: pointer;
}

.arrowIcon {
    margin-left: 8px;
}

.checkboxes {
    max-height: 350px; /* Defina a altura máxima desejada */
    overflow-y: auto;
    top: 100%;
    border: 1.5px solid #95b5b3;
    border-radius: 8px;
    position: absolute;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: #ebeced;
    transition: border-color 0.3s;
    align-items: flex-start;
    text-align: left;
    z-index: 2;
}

.selectorBox:hover {
    background-color: #ebeced; /* Altera a cor da borda no hover */
}
.checkboxes:hover {
    background-color: #ebeced; /* Altera a cor da borda no hover */
}

.checkboxItem {
    display: flex;
    align-items: center;
}

.button {
    margin-right: 3px;
    padding: 3px;
}

.equipeStatusSelector,
.estabelecimentoSelector,
.EquipeSelector,
.PeriodoSelector {
    display: inline-block;
    margin-right: 30px;
}
