.selectorBox {
  margin-bottom: 20px;
  border: 1.5px solid #95B5B3;
  border-radius: 8px; 
  width: 220px; 
  text-align: center; 
  padding: 3px;
  transition: border-color 0.3s;
  font-size: 13px;
  position: relative;
}

.selectorHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px;
  cursor: pointer;
  
}

.arrowIcon {
  margin-left: 8px;
}

.checkboxes {
  top: 100%;
  border: 1.5px solid #95B5B3;
  border-radius: 8px; 
  position: absolute;
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: #EBECED;
  transition: border-color 0.3s;
  align-items: flex-start;
  text-align: left;
  z-index: 2;
}

.selectorBox:hover {
  background-color: #EBECED; /* Altera a cor da borda no hover */
}
.checkboxes:hover {
  background-color: #EBECED; /* Altera a cor da borda no hover */
}

