.ResetSpaces {
    margin: 0;
    padding: 0;
}

.Container {
    padding-top: 32px;
    padding-right: 32px;
    padding-left: 32px;
    padding-bottom: 48px;
    box-sizing: border-box;
    font-family: "Inter";
    color: #1f1f1f;
    width: 800px;
    background-color: #fff;
    border-radius: 20px;
    position: relative;
    z-index: 9000;
}

.Content {
    overflow-y: auto;
    /* altura da tela - altura do botão de fechar - altura do botão de imprimir */
    max-height: calc(100vh - 40px - 200px);
}

.ModalExit {
    color: #fff;
    background-color: black;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.ModalExit:before {
    content: "✖";
    cursor: pointer;
    padding: 0.5em;
}

.Close {
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.ContainerTitle {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-bottom: 24px;
}

.Title {
    display: flex;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.01em;
    text-align: left;
    color: #1d856c;
}

.MainPersonalizationTitle {
    font-size: 32px;
    line-height: 41px;
    margin-bottom: 20px;
    font-weight: 400;
    letter-spacing: -0.02em;
    text-align: left;
    width: 85%;
}

.MainPrintDescription {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
    font-weight: 400;
    letter-spacing: -0.01em;
    text-align: left;
}

.MainCustomizationOption {
    padding: 12px 10px;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
    font-weight: 400;
    letter-spacing: -0.01em;
    text-align: left;
}

.MainCustomizationInput {
    width: 18px;
    height: 18px;
    padding: 0;
    margin: 0;
    accent-color: #145c56;
}

.Separator {
    margin: 24px 0;
}

.SecondaryCustomizationsTitle {
    font-size: 20px;
    line-height: 25px;
    padding: 8px 0;
    margin-bottom: 24px;
    font-weight: 400;
    letter-spacing: -0.02em;
    text-align: left;
}

.SecondaryCustomizationsContainer {
    padding: 15px 9px 21px 9px;
    position: relative;
    border-radius: 8px;
    border: 1.5px solid #916a20;
}

.SecondaryCustomOption {
    padding: 0px 9px;
    margin-top: 14px;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    accent-color: #145c56;
    font-weight: 400;
    letter-spacing: -0.01em;
    text-align: left;
}

.SecondaryCustomizationsContainer input {
    width: 15px;
    height: 17px;
    padding: 0;
    margin: 0;
    position: relative;
}

.ContainerButton {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 24px;
}

.Recommendation {
    padding: 3px 8px;
    display: flex;
    gap: 5px;
    align-items: center;
    width: fit-content;
    position: absolute;
    z-index: 1000;
    top: -8px;
    border-radius: 5px;
    border: 1px solid #916a20;
    background-color: #ffefb9;
}

.RecommendationText {
    font-size: 12px;
    line-height: 17px;
    font-weight: 600;
    text-align: left;
    color: #4f3d0c;
}

@media screen and (max-width: 1366px) {
    .Container {
        width: 700px;
        padding-top: 28px;
        padding-right: 28px;
        padding-left: 32px;
        padding-bottom: 24px;
    }

    .Content {
        /* altura da tela - altura do botão de fechar - altura do botão de imprimir */
        max-height: calc(100vh - 40px - 160px);
    }

    .ContainerTitle {
        margin-bottom: 24px;
    }

    .MainPersonalizationTitle {
        font-size: 23px;
        line-height: 28px;
        margin-bottom: 16px;
    }

    .MainPrintDescription {
        line-height: 20px;
        margin-bottom: 12px;
    }

    .MainCustomizationOption {
        padding: 12px 10px;
        line-height: 15px;
    }

    .SecondaryCustomizationsTitle {
        font-size: 18px;
        line-height: 18px;
        padding: 6px 0;
        margin-bottom: 18px;
    }

    .Separator {
        margin: 12px 0;
    }

    .SecondaryCustomOption {
        margin-top: 16px;
        line-height: 15px;
    }

    .SecondaryCustomizationsContainer {
        padding: 15px 9px 16px 9px;
    }

    .Close {
        margin-bottom: 12px;
    }

    .ContainerBotao {
        margin-top: 18px;
    }
}

@media screen and (max-width: 1024px) {
    .Container {
        width: 70%;
    }
}

@media screen and (max-width: 768px) {
    .Container {
        width: 90%;
    }
}

@media screen and (max-width: 360px) {
    .Container {
        padding: 20px;
    }

    .Content {
        /* altura da tela - altura do botão de fechar - altura do botão de imprimir */
        max-height: calc(100vh - 40px - 80px);
    }

    .ContainerTitle {
        margin-bottom: 10px;
    }

    .Title {
        font-size: 12px;
        line-height: 16px;
    }

    .MainPersonalizationTitle {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 16px;
    }

    .MainPrintDescription {
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 16px;
    }

    .MainCustomizationOption {
        padding: 6px;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
    }

    .SecondaryCustomizationsTitle {
        font-size: 16px;
        line-height: 20px;
        padding: 6px 0;
        margin-bottom: 24px;
    }

    .Separator {
        margin: 10px 0;
    }

    .SecondaryCustomOption {
        padding: 0px 6px;
        margin-top: 12px;
        font-size: 12px;
        line-height: 16px;
    }

    .SecondaryCustomizationsContainer {
        padding: 12px 8px 18px 8px;
    }

    .Close {
        margin-bottom: 16px;
    }

    .Recommendation {
        padding: 3px 6px;
        width: 90%;
        top: -18px;
    }

    .RecommendationText {
        font-size: 10px;
        line-height: 14px;
    }

    .ContainerButton {
        margin-top: 16px;
    }

    .SecondaryCustomizationsContainer input {
        width: 14px;
        height: 14px;
    }

    .TitleIcon {
        width: 18px;
        height: 18px;
    }

    .RecommendationIcon {
        width: 13px;
        height: 13px;
    }
}
